nav {
    top: 0;
    left: 0;
    z-index: 9;
    background-color: black;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 16vh;
}

.nav-menu {
    display: flex;
    gap: 3.5rem;
}

.logo {
    width: 6.5vw;
    max-height: 14vh;
}

a {
    font-family: 'Shantell Sans', cursive;
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}